<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="pierwszy_bean" class="implementation.A">
        <property name="name" value="Jaroslaw"/>
        <property name="age" value="33"/>
    </bean>

    <bean id="drugi_bean" class="implementation.A">
        <property name="name" value="Leslaw"/>
        <property name="age" value="24"/>
    </bean>

    <bean id="trzeci_bean" class="implementation.B">
        <constructor-arg name="name" value="BOleslaw"/>
        <constructor-arg name="age" value="101"/>
    </bean>


    <bean id="AB_bean" class="implementation.AB">
        <constructor-arg ref="pierwszy_bean" />
        <constructor-arg ref="trzeci_bean" />
    </bean>




</beans>
